@font-face {
    font-family: myFont;
    src: url(fonts/PROXIMANOVA-REGULAR.OTF);
}
@font-face {
    font-family: myFont;
    src: url(fonts/PROXIMANOVA-EXTRABLD.OTF);
    font-weight: bold;
}

table {
    font-family: myFont;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #9b1d9519;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #262262;
    color: white;
  }
